@font-face {
  font-family: 'orbitron';
  src: url('../webfonts/orbitron-bold-webfont.eot');
  src: local('☺'),
    url('../webfonts/orbitron-bold-webfont.woff') format('woff'),
    url('../webfonts/orbitron-bold-webfont.ttf') format('truetype'),
    url('../webfonts/orbitron-bold-webfont.svg#grablau') format('svg');
}
@font-face {
    font-family: 'borbitron';
    src: url('../webfonts/orbitron-black-webfont.eot');
    src: local('☺'),
    url('../webfonts/orbitron-black-webfont.woff') format('woff'),
    url('../webfonts/orbitron-black-webfont.ttf') format('truetype'),
    url('../webfonts/orbitron-black-webfont.svg#grablau') format('svg');
}
*{
	font-family:'orbitron' !important;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}

#confirm{
	height:100%;z-index: 5;background: black;
}

.member_guilde_avatar {
	width: 76px;
	height: 76px;
	border: 2px outset gray;
	border-radius: 5px;
	float: left;
	margin-right: 4px;
}

.display_pseudo{
	padding-top:12px;
	
}

.display_handle{
	color:gray;
	font-size:0.7em;
}

ul {
	list-style-type: none !important;
	margin: 2px;
}

h2 {
	text-decoration: underline;
	font-size: 1em;
	margin: 2px;
}


.page, #nb_ship {
	display: none;
}
.page{
	padding-bottom: 70px; /* for footer absolute */
}

#logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 42px;
}

/* Swipe works with mouse as well but often causes text selection. */
* {
	-webkit-user-select: text;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* Content styling. */
dl { font-family: "Orbitron", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }

.back-btn { float: right; margin: 0 2em 1em 0; }
.back-btn {
	float: right;
	margin: 0 2em 1em 0;
}

#pseudo{
	color: #2ad;
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.waitingForConnection {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}

#canvas{
	 width:300px;
	 height:189px;
	 background:url('../img/canevas.png') no-repeat transparent;
	 font-family : "orbitron";
	 display:none;
	 position: relative;
	 left: -6px;
	 margin-bottom:15px;
	 margin: 0 auto;
}

.img_team_hangar{
	width:138px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.img_team_team{
    width:120px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.nb_team_hangar{
	position:absolute;
	left:3px;
	bottom:5px;
	color:white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	font-weight:bold;
}
.content_team_hangar{
	position:relative;
	display:inline-block;
}

.slider-nav__item{
	display:none !important;
}

.slider-arrow{
	font-size:4em;
	text-decoration:none;
}
.slider-arrow--left{
	left:-20px !important;
}
.slider-arrow--right{
	right:-20px !important;
}

#alert{
	position: fixed;
	bottom: 0px;
	color: white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	width: 100%;
	height: 28px;
	padding: 10px 0 0 0px;
	text-align: center;
	cursor:pointer;
	display:none;
	z-index:999;

    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#23db51),
        to(#2f5e09)
    );
    background: -webkit-linear-gradient(
        top,
        #23db51,
        #2f5e09
    );
    background: -moz-linear-gradient(
        top,
        #23db51,
        #2f5e09
    );
    background: -o-linear-gradient(
        top,
        #23db51,
        #2f5e09
    );
    background: linear-gradient(
        top,
        #23db51,
        #2f5e09
    );


}


