@font-face {
  font-family: 'orbitron';
  src: url('../webfonts/orbitron-bold-webfont.eot');
  src: local('x'),
    url('../webfonts/orbitron-bold-webfont.woff') format('woff'),
    url('../webfonts/orbitron-bold-webfont.otf') format('opentype'),
    url('../webfonts/orbitron-bold-webfont.svg#grablau') format('svg');
}
*{
	font-family:'orbitron' !important;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}

#confirm{
	height:100%;z-index: 5;background: black;
}

#member_guilde img {
	width: 76px;
	height: 76px;
	border: 5px outset gray;
	border-radius: 5px;
	float: left;
	margin-right: 4px;
}

.handle{
	color:gray;
	font-size:0.7em;
}

ul {
	list-style-type: none !important;
	margin: 2px;
}

h2 {
	text-decoration: underline;
	font-size: 1em;
	margin: 2px;
}


.page, #nb_ship, .norole {
	display: none;
}
.page{
	padding-bottom: 70px; /* for footer absolute */
}

#logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 42px;
}

/* Swipe works with mouse as well but often causes text selection. */
* {
	-webkit-user-select: text;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* Content styling. */
dl {
	font-family: "Times New Roman", Times, serif;
	padding: 1em;
}

dt {
	font-size: 2em;
	font-weight: bold;
}

dt span {
	font-size: .5em;
	color: #777;
	margin-left: .5em;
}

dd {
	font-size: 1.25em;
	margin: 1em 0 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

.back-btn {
	float: right;
	margin: 0 2em 1em 0;
}

#pseudo{
	color: #2ad;
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.waitingForConnection {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}