@font-face {
  font-family: 'orbitron';
  src: url('../webfonts/orbitron-bold-webfont.eot');
  src: local('☺'),
    url('../webfonts/orbitron-bold-webfont.woff') format('woff'),
    url('../webfonts/orbitron-bold-webfont.ttf') format('truetype'),
    url('../webfonts/orbitron-bold-webfont.svg#grablau') format('svg');
}
@font-face {
    font-family: 'borbitron';
    src: url('../webfonts/orbitron-black-webfont.eot');
    src: local('☺'),
    url('../webfonts/orbitron-black-webfont.woff') format('woff'),
    url('../webfonts/orbitron-black-webfont.ttf') format('truetype'),
    url('../webfonts/orbitron-black-webfont.svg#grablau') format('svg');
}
*{
	font-family:'orbitron' !important;
}

body { 
  -webkit-animation: bugfix infinite 1s; 
}
@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}

/* default checkbox */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  cursor: pointer;
  user-select: none;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}

#confirm{
	height:100%;z-index: 5;background: black;
}

.member_guilde_avatar {
	width: 76px;
	height: 76px;
	border-radius: 5px;
	float: left;
	margin-right: 4px;
}

.display_pseudo{
	padding-top:12px;
	
}

.display_handle{
	color:gray;
	font-size:0.7em;
}

.hangarteam{
	margin-top:10px;
}
ul {
	list-style-type: none !important;
	margin: 2px;
}

h2 {
	text-decoration: underline;
	font-size: 1em;
	margin: 2px;
}


.page, #nb_ship, #mdp, .require_mdp, #require_mdp, .hangarteam {
	display: none;
}
.page{
	padding-bottom: 70px; /* for footer absolute */
}

#logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 42px;
}

/* Swipe works with mouse as well but often causes text selection. */
* {
	-webkit-user-select: text;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* Content styling. */
dl { font-family: "Orbitron", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }

.back-btn { float: right; margin: 0 2em 1em 0; }
.back-btn {
	float: right;
	margin: 0 2em 1em 0;
}

#pseudo{
	color: #2ad;
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.waitingForConnection {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}

#canvas{
	 width:300px;
	 height:189px;
	 font-family : "orbitron";
	 margin-bottom:15px;
	 margin: 0 auto;
}

.img_team_hangar{
	width:138px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.img_team_team{
    width:120px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.nb_team_hangar{
	position:absolute;
	left:3px;
	bottom:5px;
	color:white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	font-weight:bold;
}
.content_team_hangar{
	position:relative;
	display:inline-block;
}

.slider-nav__item{
	display:none !important;
}

.slider-arrow{
	font-size:4em;
	text-decoration:none;
}
.slider-arrow--left{
	left:-20px !important;
}
.slider-arrow--right{
	right:-20px !important;
}

#alert{
	position: fixed;
	bottom: 0px;
	color: white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	width: 100%;
	min-height: 28px;
	padding: 10px 0 0 0px;
	text-align: center;
	cursor:pointer;
	display:none;
	z-index:999;

    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(black),
        to(#252525)
    );
    background: -webkit-linear-gradient(
        top,
        black,
        #252525
    );
    background: -moz-linear-gradient(
        top,
        black,
        #252525
    );
    background: -o-linear-gradient(
        top,
        black,
        #252525
    );
    background: linear-gradient(
        top,
        black,
        #252525
    );


}

.chart{
	width:300px !important;
	height:150px !important;
	margin:5px 10px;
	}
	
	.bars, .bars2 {
background: #021018;
padding: 10px;
margin: 15px 10px;
border-radius: 18px 1px;
max-width:336px;
}
.bars img, .bars2 img{
 padding:1px;
}

.progress, .progress2 {
color: #00c0ff;
font-family: Courier New;
font-size: 14px;
text-transform:uppercase;
font-weight:bold;
}

#ret, #citizens{
 color: #4BF173;
 font-weight:bold;
}
#citizens_max{
color:orange;
 font-weight:bold;
}


.manage_ship_content, .select_ship_content{
	position:relative;
	width:123px;
	height:74px;
	display:inline-block;
	margin:2px;
}
 .select_player_content{
 	position:relative;
	width:76px;
	height:76px;
	display:inline-block;
	margin-left: 5px;
 }

.manage_ship_img, .manage_ship_cache, .select_ship_img, .select_ship_cache{
	width:123px;
	height:74px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
    position:absolute;
}
.select_player_cache{
	width:76px;
	height:76px;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
    position:absolute;	
}

#select_player_img{
	text-align:center;
}
.select_player_img{
	width:76px;
	height:76px;
	border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
    position:absolute;
}
.manage_ship_img img, .select_ship_img img{
	width:123px;
	height:74px;
	    border: 1px solid black;
    border-radius: 10px;
}

.select_player_img img{
	width:76px;
	height:76px;
    border-radius: 10px;
}

#select_ship{
	text-align:center;
}

.manage_ship_cache{
	background:black;
	opacity:0.85;
}

.select_player_cache{
	background:black;
	opacity:0.95;
}

.manage_ship_text, .select_ship_text{
	color:white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	top:2px;
	overflow: hidden;
	width: 123px;
	height:74px;
	position:absolute;
	cursor:pointer;
}

.select_player_text{
	color:white;
	text-shadow:black 0px 0px 5px,black 1px 0px 5px,black 0px 1px 5px,black 1px 1px 5px;
	top:2px;
	overflow: hidden;
	width: 76px;
	height:76px;
	position:absolute;
	cursor:pointer;
	font-size: 0.8em;
}


.img_hangar{
	border:2px solid black;
	border-radius:30px;
	-webkit-box-shadow: 3px 3px 12px 0px rgba(44, 50, 50, 0.8);
-moz-box-shadow:    3px 3px 12px 0px rgba(44, 50, 50, 0.8);
box-shadow:         3px 3px 12px 0px rgba(44, 50, 50, 0.8);
cursor:pointer;
}

.ui-nosvg .ui-icon-avenger:after {
  background: url("../img/ship/avenger.jpg")no-repeat;
  background-size: 18px 18px;
  border-radius:0px!important;
  -moz-border-radius:0px!important;
  -webkit-border-radius:0px!important;
  -ms-border-radius:0px!important;
  -o-border-radius:0px!important;
}

.number{
width: 60px;
display: inline-block;
margin-left: 5px;
}

.number_ship{

position: absolute;
left: 38px;
top: 30px;

opacity:0.8;
}

.delete_group, .see_groupe{
	display: inline-table;
	vertical-align: middle;
}
